<!--
    {
        _id:565ad1a3s5135as1da3a
        name:"maik",
        username:"Alexander",
        password:"159"
    }

    POST https://localhost:3000/bebidaForm/bebida/operar
    -crear
    -modificar
-->
<div class="container">
    <br/>
    <form action="/bebidaForm/bebida/operar" method="POST">
        <input type="hidden" name="_id" value="{{bebida._id}}">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{bebida.name}}" >
        </div>
        <div class="form-group">
            <label for="name">Beverage Name:</label>
            <input type="text" class="form-control" id="beveragename" name="beveragename" value="{{bebida.beveragename}}" >
        </div>
        <div class="form-group">
            <label for="name">Tipo:</label>
            <input type="text" class="form-control" id="tipo" name="tipo" value="{{bebida.tipo}}" >
        </div>
        <button type="submit" class="btn btn-primary">Aceptar</button>
        <a href="/bebida" class="btn btn-danger">Cancelar</a>

    </form>
</div>
