<!--
    {
        _id:565ad1a3s5135as1da3a
        name:"maik",
        username:"Alexander",
        password:"159"
    }

    POST https://localhost:3000/usuarioForm/usuario/operar
    -crear
    -modificar
-->
<div class="container">
    <br/>
    <form action="/comidaForm/comida/operar" method="POST">
        <input type="hidden" name="_id" value="{{comida._id}}">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{comida.name}}" >
        </div>
        <div class="form-group">
            <label for="name">Food Name:</label>
            <input type="text" class="form-control" id="foodname" name="foodname" value="{{comida.foodname}}" >
        </div>
        <div class="form-group">
            <label for="name">Tipo:</label>
            <input type="text" class="form-control" id="tipo" name="tipo" value="{{comida.tipo}}" >
        </div>
        <button  type="submit" class="btn btn-primary">Aceptar</button>
        <a href="/comida" class="btn btn-danger">Cancelar</a>

    </form>
</div>
