<!--
    https://localhost:3000/
-->
<div class="container">
    <div class="row">
        <br>
        <!--
            GET https://localhost:3000/usuario/nuevo renderizar una vista con datos vacIos
        -->
        <a href="/comida/nuevo" class="btn btn-primary">Nuevo</a>
        <table class="table table-striped">
            <thead>
                <th>Nombre</th>
                <th>FoodName</th>
                <th>Tipo</th>
                <th colspan="2">Opciones</th>
            </thead>
            {{#each comidas}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.foodname}}</td>
                <td>{{this.tipo}}</td>
                <!--
                    GET https://localhost:3000/usuario/modificar/:id renderiiza una vista de modificar con los datos del usuario
                    GET https://localhost:3000/usuario/eliminar/:id eliminarIa directamente en la base de datos
                -->
                <td><a href="/comida/modificar/{{this._id}}">Modificar</a></td>
                <td><a href="/comida/eliminar/{{this._id}}">Eliminar</a></td>
            </tr>
            {{/each}}
        </table>  
    </div>
</div>
